body{margin: 0px;
	padding: 0px;
		font-family:'Baloo Bhai', cursive ;
		background: url('img/pexels-olia-danilevich-5088022.jpg');
		background-size: cover;
		color: aliceblue;
	}
	html{
		scroll-behavior: smooth;
	}
		#navbar {justify-content: center;
			display: flex;
			align-items: center;
			position: sticky;
			top: 0px;
		}

		#navbar::before {
			content: "";
			background-color: black;
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: -1;
			opacity: 0.7;
		}
		.webname{
			margin-inline-end: 440px;
		}
		.admin-corner{
			margin-inline-start: 300px;
		}
		.box {background-color: #151615;
			position: absolute;
			/* border: 2px solid red; */
			height: 400px;
			width: 800px;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 350px;
			top: 170px;
			box-shadow: 6px 6px 10px rgb(61, 49, 49);
			
		}

		.heading {
			position: absolute;
			top: 0px;
		}

		.form {
			margin: 20px;
		}

		.timer {
			position: absolute;
			top: 30px;
			right: 47px;

		}
	