body{margin: 0px;
	padding: 0px;
		font-family:'Baloo Bhai', cursive ;
		background: url('img/pexels-olia-danilevich-5088022.jpg');
		background-size: cover;
		color: rgb(22, 32, 41);
	}
	html{
		scroll-behavior: smooth;
	}
		#navbar {justify-content: center;
			display: flex;
			align-items: center;
			position: sticky;
			top: 0px;
			color: azure;
		}

		#navbar::before {
			content: "";
			background-color: black;
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: -1;
			opacity: 0.7;
		}
		.webname{
			margin-inline-end: 440px;
		}
		.admin-corner{
			margin-inline-start: 300px;
		}
		.box {background-color: #bce29c;
			position: absolute;
			/* border: 2px solid red; */
			height: 530px; 
			width: 870px;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 350px;
			top: 170px;
			box-shadow: 6px 6px 10px rgb(61, 49, 49);
			
		}

		.heading {
			position: absolute;
			top: 0px;
		}

		.form {position: absolute;
			top: 40px;
			left: 30px;
			margin: 20px;
		}

		.timer {
			position: absolute;
			top: 30px;
			right: 47px;

		}
		.correct-answer{position: absolute;
			bottom: 4px;
			left: 79px;
			margin: 20px;
		}
		
	
	#option1{
		position: absolute;
		top: 242px;
		left: 40px;
	}
	#option2{
		position: relative;
		top: 87px;
		left: -47px;
	}
	#option3{
		position: relative;
		top: 102px;
		left: -46px;
	}
	#option4{
		position: relative;
		top: 117px;
		left: -48px;
	}
	#btn1{position: absolute;
		border: 1px solid rgb(48, 45, 45);
		bottom: 24px;
		right: 180px;
border-radius: 60px;
box-shadow: 0px 1px 4px rgb(48, 45, 45);
font-family:'Baloo Bhai', cursive ;
background-color:#d1d8d8;
	}

	#btn2{
		position: absolute;
		bottom: 24px;
		right: 100px;
		border: 1px solid rgb(48, 45, 45);
		border-radius: 60px;
		box-shadow: 0px 1px 4px rgb(48, 45, 45);
		font-family:'Baloo Bhai', cursive ;
		background-color:#d1d8d8;
	}
